#opciones-texto{
    width: 18%;
    height: 900px;
    background-color: var(--color-aside);
    /*border: 3px solid burlywood;*/
    position: absolute;
    top: 0;
    right: 0;
}

#tituloh3{
    font-family: var(--font-primaria);
    color: var(--color-texto);
    text-align: center;
}

#superior, #tituloh5, #titulo-fuente{
    font-family: var(--font-primaria);
    color: var(--color-texto);
    margin: 10px;
}

#top-text, #bottom-text{
    height: 40px;
    width: 220px;
    /*border:5px solid green ;*/
    margin: 5px;
    border: none;
    font-family: var(--font-primaria);
    text-align: left;
    align-content: center;
    color: var(--color-texto);
    background-color: var(--color-background);
    border-radius: 5px 5px 5px 5px;

}

#texto-superior, #texto-inferior{
    font-family: var(--font-primaria);
    font-size: 12px;
    color: var(--color-texto);
    margin: 10px;
}

#clases-fuentes{
    font-family: var(--font-primaria);
    font-size: 15px;
    text-align: left;
    background-color: var(--color-background);
    color: var(--color-texto);
    height: 40px;
    width: 220px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    margin: 10px;
}

#tamaño-texto{
    height: 30px;
    width: 110px;
    margin: 10px;
    background-color: var(--color-background);
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: var(--color-texto);
    font-family: var(--font-primaria);
    font-size: 14px;
}

#izquierda, #centro, #derecha{
    height: 30px;
    width: 30px;
    background-color: var(--color-background);
    color: var(--color-texto);
    border-radius: 3px 3px 3px 3px;
    border: none;
}

#izquierda:hover, #centro:hover, #derecha:hover{
    cursor: pointer;
    background-color: var(--color-hover);
}

#colorh5, #fondoh5, #contornoh5, #espaciadoh5, #interlh5{
    font-family: var(--font-primaria);
    color: var(--color-texto);
    margin: 10px;

}

#input-color{
    margin: 10px;
    width: 100px;
}

#input-fondo, #fondoh5{
    margin: 10px;
    width: 100px;
    position: relative;
    left: 120px;
    bottom: 87px;
}

#fondo-transp , #input-check{
    font-family: var(--font-primaria);
    font-size: 12px;
    color: var(--color-texto);
    margin: 10px;
    position: relative;
    bottom: 80px;
}

#contorno-div, #espacio-div, #inter-div{
    position: relative;
    bottom: 70px;
}

#btn-ninguno, #btn-claro, #btn-oscuro{
    margin: 3px;
    width: 70px;
    height: 35px;
    background-color: var(--color-background);
    font-family: var(--font-primaria);
    font-size: 13px;
    color: var(--color-texto);
    border-radius: 3px 3px 3px 3px;
    border: none;
}

#btn-ninguno:hover, #btn-claro:hover, #btn-oscuro:hover{
    cursor: pointer;
    background-color: var(--color-hover);
}

#input-espacio, #inter-select{
    height: 40px;
    width: 220px;
    margin: 10px;
    background-color: var(--color-background);
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: var(--color-texto);
    font-family: var(--font-primaria);
    font-size: 14px;
}
/*------^AQUI SE TERMINA EL OPCIONES DE TEXTO^-----*/
