header{
    width: 100%vw;
    height: 130px;
    background-color: var(--color-header);
}

#titulo{     /*---h1---*/
    margin: 0;
    font-family: var(--font-primaria);
    color: var(--color-texto);
    text-align: center;
}

.botones-cabezera{    /*----botones header---*/
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagen, #texto, #foco{  
    font-size: 15px; 
    font-family: var(--font-primaria);
    color: var(--color-texto);
    background-color: var(--color-header);
    border-radius: 3px 3px 3px 3px;
    border: none;
    height: 40px;
}

#imagen:hover{
    cursor: pointer;
    background-color: var(--color-hover);
} 
#texto:hover{
    cursor: pointer;
    background-color: var(--color-hover);
} 
#foco:hover{
    cursor: pointer;
    background-color: var(--color-hover);
}
/*-------^^AQUI SE TERMINA EL HEADER^^-----*/
