@import url("./header.css");
@import url("./main.css");
@import url("./asideImagen.css");
@import url("./asideTexto.css");

.modo-oscuro{
    margin: 0;
    background-color: var(--color-background);
}

/*---MODO-OSCURO---*/
:root{
    --color-header: #191e2b;
    --color-background: #30343f;
    --color-aside: #252935;
    --color-boton: #393e49;
    --color-hover: #4e5565;
    --color-texto: #ffffff;
    --font-primaria: 'Open Sans', sans-serif;
    --border-radius: 3px;
}

/*---MODO-CLARO-----*/

/*:root{
    --color-header: #e0e0e0;
    --color-background: #eeeeee;
    --color-aside: #fafafa;
    --color-hover: #bbbbbb;
    --color-texto: #424242;
    --color-titulo-panel: rgb(33 33 33 / 70%);
}*/

